.listdogs {
  display: grid;
  grid-template-columns: auto;
  grid-template-columns: repeat(auto-fill, minmax(20%, 1fr));
  gap: 20px;
  width: 100%;
}
@media (max-width: 768px) {
  .listdogs {
    grid-template-columns: repeat(auto-fill, minmax(40%, 1fr));
  }
}
@media (max-width: 576px) {
  .listdogs {
    grid-template-columns: repeat(auto-fill, minmax(100%, 1fr));
  }
}


.dogcard {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 200px;
  padding: 5px;
  display: flex;
  background: #ededed;
  align-items: center;
  border-radius: 4px;
  cursor: pointer;
}

.dogcard__image {
  max-width: 100%;
  max-height: 100%;
}

.listdogs__error-message, .listdogs__loader {
  grid-column: 1 / span 4;
}